.checkout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.img-area img{
    width: 300px;
}
.details-area{
    margin-left: 20px;
    padding: 10px;
}