.services-area{
    margin-top: 20px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and  (max-width: 667px){
.services{
    grid-template-columns: 1fr;
}
}